name: Deploy Django Backend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/www/backend

            git pull origin main

            docker compose -f docker-compose.prod.yml down

            docker compose -f docker-compose.prod.yml up -d --build

            docker compose -f docker-compose.prod.yml exec web python manage.py migrate

            docker compose -f docker-compose.prod.yml exec web python manage.py collectstatic --noinput
